<div class="form-wrapper sifra" ng-controller="CodesController">
  <input type="text" placeholder="Unesi..." class="input-field" ng-model="newTitle">
  <button type="button" class="button button-normal" ng-click="insertNew(newTitle)">Add</button>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Vrijednost</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in codebook.data.response.entries">
      <td>{{entry.id}}</td>
      <td>{{entry.value}}</td>
    </tr>
    </tbody>
  </table>
</div>
