<div class="main-view-wrapper" ng-controller="MainController as controller">
    <videogular vg-theme="controller.config.theme.url">
        <vg-media vg-src="controller.config.sources"
                  vg-tracks="controller.config.tracks"
                  vg-native-controls="true">
        </vg-media>
    </videogular>
    <h2>MAP</h2>
    <ng-map center="[45.00, 15.00]">
        <marker position="[45.814919, 15.935150]" title="how" animation="Animation.BOUNCE"></marker>
        <marker position="[45.85, 15.935150]" title="how" animation="Animation.BOUNCE"></marker>
    </ng-map>
</div>