<div class="form-wrapper" ng-controller="RescController">

    <div class="row btn-row">
        <!-- DODAVANJE NOVOG -->
        <a href="#/addResc" class="button button-normal">Dodaj spašavatelja</a>
    </div>
    <div class="clear"></div>

    <div class="row">
        <!-- PRETRAGA -->
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="widget">
                <div class="widget-header">
                    Pretraži spašavatelje
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="search-wrapper icon-search">
                                <input type="text" placeholder="Pretraži..." class="input-field">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2 spec-wrapper" role="group" aria-label="First group">
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-alp"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-doc"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-heli"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-map"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-dog"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-ski"></button>
                                    <button type="button" ng-class="{'active-filter' : specActive}" class="spec-img img-spel"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row spasavatelji-tables">
        <!-- AKTIVNI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget-name">Slobodni spašavatelji</div>
            <div class="widget">

                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ZAUZETI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget-name">Zauzeti spašavatelji</div>
            <div class="widget">
                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- NEAKTIVNI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget-name">Neaktivni spašavatelji</div>
            <div class="widget">

                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>