<div class="form-wrapper" ng-controller="RescController">

    <div class="row">
        <!-- PRETRAGA -->
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="widget">
                <div class="widget-header">
                    <span class="fa fa-list" aria-hidden="true"></span>
                    Pretraga
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label>Ime</label>
                            <div class="input-group">
                            <input type="text">
                                </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label>Prezime</label>
                            <div class="input-group">
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label>Specijalnost</label>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">2</button>
                                    <button type="button" class="btn btn-secondary">3</button>
                                    <button type="button" class="btn btn-secondary">4</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- AKTIVNI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget">
                <div class="widget-header">
                    <span class="fa fa-list" aria-hidden="true"></span>
                    Slobodni spašavatelji
                </div>
                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ZAUZETI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget">
                <div class="widget-header">
                    <span class="fa fa-list" aria-hidden="true"></span>
                    Zauzeti spašavatelji
                </div>
                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- NEAKTIVNI -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="widget">
                <div class="widget-header">
                    <span class="fa fa-list" aria-hidden="true"></span>
                    Neaktivni spašavatelji
                </div>
                <div class="widget-body fix-height-500">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Specijalnost</th>
                            <th>Broj</th>
                            <!-- to expand line -->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <!-- -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>